<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">Login</h2>
        </div>
        <div class="card-body">
          <form id="loginForm">
            <div class="form-group">
              <label for="email">E-mail:</label>
              <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="button" class="btn btn-primary btn-block" onclick="login()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function login() {
        var formData = {
            email: $('#email').val(),
            password: $('#password').val()
        };

        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: '/auth/login',
            data: JSON.stringify(formData),
            success: function(data) {
                console.log('Login successful:', data);
                document.cookie = 'accessToken=' + data.accessToken + '; path=/';
                document.cookie = 'refreshToken=' + data.refreshToken + '; path=/';
                window.location.href = '/';

                // 로그인 성공 시 추가 동작을 수행하거나 홈 페이지로 리다이렉트 등
            },
            error: function(error) {
                console.error('Error during login:', error);
            }
        });
    }
</script>

</body>
</html>
