<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 작성</title>
</head>
<body>
<h2>게시물 작성</h2>
<form action="/boards/create" method="post">
  <label for="title">제목:</label>
  <input type="text" id="title" name="boardTitle" required>
  <label for="title">작성자:</label>
  <input type="text" id="writer" name="boardWriter" required>
  <label for="content">내용:</label>
  <textarea id="content" name="boardContent" cols="30" rows="10" required></textarea> <br>

  <button type="submit">작성</button>
</form>
</body>
</html>
